name: Tourist Customer Prediction MLS pipeline

on:
  push:
    branches:
      - main      # auto-trigger on push to main
  workflow_dispatch:

jobs:

  register-dataset:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction/requirements.txt
      - name: Upload Dataset to Hugging Face Hub
        run: |
          python tourist_customer_prediction/model_building/data_register.py

  data-prep:
    needs: register-dataset
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction/requirements.txt
      - name: Run Data Preparation
        run: |
          python tourist_customer_prediction/model_building/data_prep.py

  model-training:
    needs: data-prep
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      MLFLOW_TRACKING_URI: http://127.0.0.1:5000
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction/requirements.txt
      - name: Start MLflow UI Server
        run: |
          nohup mlflow ui --host 0.0.0.0 --port 5000 &
          sleep 5
      - name: Train Model, Log to MLflow, Register to HF Model Hub
        run: |
          python tourist_customer_prediction/model_building/model_train.py

  deploy-hosting:
    needs: [model-training, data-prep, register-dataset]
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction/requirements.txt
      - name: Push files to Frontend Hugging Face Space
        run: |
          python tourist_customer_prediction/hosting/hosting.py
